/* You can add global styles to this file, and also import other style files */
body{
    height:57em;
    background-image: url(assets/images/American-Airlines.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}